<div class="index-page">
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent ">
      <div class="container">
        <div class="navbar-translate">
          <%= link_to root_url, {:class => "navbar-brand", 'rel'=> "tooltip", 'title'=> "Medio", 'data-placement' => "Bottom"} do %>
            <h2><span>Medio</span></h2>
          <% end %>
        </div>
      </div>
    </nav>

  </header>
  <div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <!-- Renders central slogan -->
      <%= render 'layouts/brand' %>

    </div>

  </div>

</div>
