<div class="row mt-5">
  Names
</div>
<div class="row mt-5">
    <ul>
        <li>
            <%= current_patient.first_name %>
            <%= current_patient.last_name %>:
            <%= current_patient.email %>
        </li>
    </ul>
</div>
