table.medical_records {
    font-family:sans-serif;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            border-spacing: 0;
            border-collapse: separate;
            table-layout: fixed;
            margin-bottom: 50px;
  
            thead{
                  tr{
                        th{
                              background: rgb(54, 127, 211);
                              color: lighten(rgb(195, 198, 201), 40%);
                              padding: 0.5em;
                              overflow: hidden;
                        }
                  }
            }
            tbody{
                  tr{
                        background: lighten(rgb(195, 198, 201), 30%);
  
                            &:nth-child(odd){
                                  background: darken(lighten(rgb(195, 198, 201), 30%), 3%);
                            }
                            &:nth-child(4n+0){
                                  td{
                                        border-bottom:1px solid rgb(195, 198, 201);
                                  }
                            }
                        td{
                              text-align: center;
                              vertical-align: middle;
                              border-left: 1px solid rgb(195, 198, 201);
                              position: relative;
                              height: 17px;
                              cursor: pointer;
  
                              &:last-child{
                                    border-right:1px solid rgb(195, 198, 201);
                              }

                        }
                  }
            }
      }

.new_med_button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 320px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;  
}