<div class="container">
  <div class="content-center brand">
    <h1 class="h1-seo">Medio</h1>
    <h3>The streamlined solution for medical records and appointment creation.</h3>
    <div class="row">
      <%= link_to "I'm a patient.",   '#', {:class => "col m-2 btn-lg btn-neutral"} %>
      <%= link_to "I'm a practice.",   '#', {:class => "col m-2 btn-lg btn-warning"} %>
    </div>
  </div>
</div>
