<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="navbar-translate">
        <%= link_to root_url, class: "navbar-brand mt-0 pt-0 pb-0" do %>
          <span class="h2">Medio</span>
        <% end %>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item font-weight-bold">
          Messages
        </li>
        <li class="nav-item font-weight-bold">
          <%# <%= current_patient.first_name + '\'s Profile'  %> %>
        </li>
      </ul>
    </div>
  </div>
</nav>
